---
layout: base.njk
---
{% set noheroimage = [] %}
{% import "../../node_modules/boilerplate-modules/src/_includes/macros/_insert.njk" as insert %}
{% import "macros/_insert.njk" as insert %}

<div class="main-article">



  {% include 'components/1-herohome.njk' %}
  {% include "components/3-benefitstrio.njk" %}


  {% include "components/2-why.njk" %}

  {% include "components/3-benefits.njk" %}






<div class="container-fluid bg-color">

  
    {% include "components/content_1.njk" %}
  
    {% include "components/content_2.njk" %}
      
    {% include "components/content_3.njk" %}

    {% include "components/features_1.njk" %}

  
</div>

{% include "components/5-faqs.njk" %}

  {% include "components/contacta_1.njk" %}




</div>