---
layout: base.njk
---

<div class="section ptr-200">
  <div class="container-global mx-auto">
    <div class="fluid-5-r mb-24">
      Stripe button test
    </div>
  </div>
  <div class="container-global mx-auto vertical-wrap-2 pb-64">
    <button id="buyButton" class="btn btn-primary btn--big" data-price-id="price_1OOyYYCx4zIW5HJpEY2mfZL3">Comprar</button>
  </div>
</div>
<script>
  const buyBtn = document.getElementById('buyButton');
  buyBtn.addEventListener('click', generateStripeCheckoutSession);
  const priceId = buyBtn.getAttribute('data-price-id');
  function generateStripeCheckoutSession() {
    fetch('/.netlify/functions/stripe-checkout-session', {
      method: 'POST',
      body: JSON.stringify(
      {price_id: priceId})
    }).then(function (response) {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' + response.status);
        return;
      }
      response.json().then(function (data) {
        console.log(data);
        window.location.href = data.sessionUrl;
      });
    }).catch(function (err) {
      console.log('Fetch Error', err);
    });
  }
</script>
