<section class="bg-color ">
  <div class="container-5 pt-64 pb-64">

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="fluid-5-r mb-24  "> {{ title | wrapWithDiv | safe }}</div>

  </div>
</div>


    <div class="row    ">
      <div class="col-xs-12 col-sm-4  align-middle sm:min-text-right ">
        <div class="w-100 mb-16"><div class="h4">Feature 1</div> <div class="p1">Descripción de la feature</div>    </div>
         <div class="w-100 mb-16"><div class="h4">Feature 2</div> <div class="p1">Descripción de la feature</div>    </div>
         <div class="w-100 mb-16"><div class="h4">Feature 3</div> <div class="p1">Descripción de la feature</div>    </div>
      </div>
      <div class="col-xs-12 col-sm-4  align-middle sm:order-last">
         <div class="w-100 mb-16"><div class="h4">Feature 4</div> <div class="p1">Descripción de la feature</div>    </div>
         <div class="w-100 mb-16"><div class="h4">Feature 5</div> <div class="p1">Descripción de la feature</div>    </div>
         <div class="w-100 mb-16"><div class="h4">Feature 6</div> <div class="p1">Descripción de la feature</div>    </div>
      </div>
      <div class="col-xs-12 col-sm-4  ">
        <img width="100%" src="/assets/static/images/fotomia.png" alt="">
      </div>
    </div>
</section>