---
layout: layout/base.njk
colorHeader: has-light-menu
---

{% set noheroimage = [] %}



{% import global2.base_modules+"_macros/_insert.njk" as insert %}

<div class="main-article has-light-menu">
  {% include 'templates/1-introCta.njk' %}
  {{global2.url}} <br>
  {{global2.base_modules}}
  <div class="container-fluid bg-color">
    boilerplate
  </div>
</div>

